# AOSPA build identity
system_internal_prop(aospa_build_prop)

# PIHooks
system_public_prop(pih_disable_prop)

# Tethering
system_internal_prop(device_config_tethering_prop)
