# Allow update_engine to call the callback function provided by updater_app
binder_call(update_engine, hub_app)

# Allow update_engine to read the payload ParanoidHub hands over as an open file
allow update_engine hub_app:fd use;

# Read updates from storage data
r_dir_file(update_engine, mnt_user_file)
r_dir_file(update_engine, storage_file)

# Allow mount and unmount of system partition
allow update_engine labeledfs:filesystem { mount unmount };
